<title>Transportadora <%=@shipping_company.corporate_name%></title>

<h2>Transportadora <%=  @shipping_company.corporate_name%></h2>

<nav>
	<%= link_to "Tabela de Preços", table_price_path(@shipping_company.id)%> |
	<%= link_to "Veículos", transport_vehicle_path(@shipping_company.id)%> |
	<%= link_to "Tabela de estimativa de entrega", estimated_date_path(@shipping_company.id)%> |
</nav>

<dl>
	<dt>
		Razão Social
	</dt>

	<dd>
		<%= @shipping_company.brand_name%>
	</dd>
	
	<dt>
		Número de Documentação
	</dt>

	<dd>
		<%=@shipping_company.registration_number%>
	</dd>
	
	<dt>
		Endereço de faturameno
	</dt>

	<dd>
		<%=@shipping_company.billing_address%>
	</dd>

	<dt>
		Distância
	</dt>

	<dd>
		<%=@shipping_company.distance%> Km
	</dd>
</dl>

<div>
	<%if user_signed_in?%>
		<%= link_to "Adicionar linha na tabela de preço", new_table_price_path%> |
		<%= link_to "Adicionar um novo veículo", new_transport_vehicle_path%> |
		<%= link_to "Adicionar uma nova linha de estimativa de entrega", new_estimated_date_path%>
	<%elsif%>
		<%= link_to "Voltar para o site das transportadoras", shipping_companies_path%>
	<%end%>
</div>