<title>Listagem de pedidos</title>

<nav>
	<%if admin_signed_in?%>
		<%= link_to "Criar um novo pedido", new_order_path %>
	<%end%>
</nav>

<h2>Listagem de pedidos</h2>

<%if @orders.any?%>
	<% @orders.each do |o|%>
		<%if (user_signed_in? && o.shipping_company_id == current_user.shipping_company_id) || admin_signed_in?%>
			<h3><%= link_to "Pedido  #{o.order_code}", o%></h3>
		<%end%>
		<dl>
			<dt>
				<%=Order.human_attribute_name(:destinatary_distance)%>
			</dt>

			<dd>
				<%= o.destinatary_distance%> Km
			</dd>

			<dt>
				<%=Order.human_attribute_name(:weight)%>
			</dt>

			<dd>
				<%= o.weight%> Kg
			</dd>

			<dt>
				<%=Order.human_attribute_name(:dimension)%>
			</dt>

			<dd>
				<%= o.dimension%> m³
			</dd>

			<dt>
				<%=Order.human_attribute_name(:status)%>
			</dt>

			<dd>
				<%= Order.human_enum_name(:status,o.status)%>
			</dd>
		</dl>
			<%if user_signed_in? && o.pending?%>
				<%= button_to "Aceitar Pedido", choose_vehicle_order_path(o), method: :get%>
				<br>
				<%= button_to "Recusar pedido"%>
			<%end%>
	<%end%>
<%else%>
<p>Não possui pedidos cadastrados</p>
<%end%>