<title>Visualizando pedido</title>

<h2>Pedido <%= @order.order_code%></h2>
 
<dl>
	<dt>
		<%=Order.human_attribute_name(:destinatary_name)%>
	</dt>

	<dd>
		<%=@order.destinatary_name%>
	</dd>

	<dt>
		<%= Order.human_attribute_name(:destinatary_identification)%>
	</dt>

	<dd>
		<%= @order.destinatary_identification%>
	</dd>

	<dt>
		<%= Order.human_attribute_name(:full_address)%>
	</dt>

	<dd>
		<%= @order.full_address%>
	</dd>

	<dt>
		<%= Order.human_attribute_name(:destinatary_distance)%>
	</dt>

	<dd>
		<%= @order.destinatary_distance%> Km
	</dd>

	<dt>
		<%= Order.human_attribute_name(:dimension)%>
	</dt>

	<dd>
		<%=@order.dimension%> m³
	</dd>

	<dt>
		<%= Order.human_attribute_name(:weight)%>
	</dt>

	<dd>
		<%=@order.weight%> Kg
	</dd>

	<dt>
		<%= Order.human_attribute_name(:status)%>
	</dt>

	<dd>
		<%= Order.human_enum_name(:status,@order.status)%>
	</dd>
	<%if !@order.shipping_company_id.nil?%>
		<dt>
			<%= Order.human_attribute_name(:shipping_company_id)%>
		</dt>

		<dd>
			<%= @order.shipping_company.brand_name%>
		</dd>

		<dt>
			<%= Order.human_attribute_name(:transport_vehicle_id)%>
		</dt>

		<dd>
			<%= @order.transport_vehicle.vehicle_model%>
		</dd>

		<dt>
			<%= TransportVehicle.human_attribute_name(:identification_plate)%>
		</dt>

		<dd>
			<%= @order.transport_vehicle.identification_plate%>
		</dd>

		<dt>
			<%= Order.human_attribute_name(:order_price)%>
		</dt>

		<dd>
			<%= number_to_currency(@order.order_price)%>
		</dd>

		<dt>
			<%= Order.human_attribute_name(:estimated_date)%>
		</dt>

		<dd>
			<%= @order.estimated_date%> dia(s) úteis
		</dd>
	<%end%>
</dl>