<title>Frota da Tranportadora <%=@endereco.corporate_name%></title>

<h2>Frota da Transportadora <%=@endereco.corporate_name%></h2>

<%if @transport_vehicles != []%>
	<%@transport_vehicles.each do |tv|%>
		<div>
			<dl>
				<dt>
					<%= TransportVehicle.human_attribute_name(:vehicle_model)%>
				</dt>

				<dd>
					<%=tv.vehicle_model%>
				</dd>

				<dt>
					<%= TransportVehicle.human_attribute_name(:brand) %>
				</dt>

				<dd>
					<%=tv.brand%>
				</dd>

				<dt>
					<%= TransportVehicle.human_attribute_name(:year_manufacture) %>
				</dt>

				<dd>
					<%=tv.year_manufacture%>
				</dd>

				<dt>
					<%= TransportVehicle.human_attribute_name(:identification_plate) %>
				</dt>

				<dd>
					<%=tv.identification_plate%>
				</dd>


				<dt>
					<%= TransportVehicle.human_attribute_name(:payload) %>
				</dt>

				<dd>
					<%=tv.payload%> Kg
				</dd>

				<dt>
					<%= TransportVehicle.human_attribute_name(:dimension)%>
				</dt>

				<dd>
					<%=tv.dimension%> m³
				</dd>

				<dt>
					<%= TransportVehicle.human_attribute_name(:status)%>
				</dt>

				<dd>
					<%=TransportVehicle.human_enum_name(:status,tv.status)%> 
				</dd>
			</dl>
		</div>
		<br>
	<%end%>
<%else%>
	<p>Sem veículos registrados</p>
<%end%>

<%= link_to "Voltar para a página da transportadora", shipping_company_path(@endereco.id)%>