<title>Frota da Tranportadora <%=@endereco.corporate_name%></title>

<h2>Frota da Transportadora <%=@endereco.corporate_name%></h2>

<%if @transport_vehicles != []%>
	<%@transport_vehicles.each do |tv|%>
		<div>
			<dl>
				<dt>
					Modelo do Veículo
				</dt>

				<dd>
					<%=tv.vehicle_model%>
				</dd>

				<dt>
					Marca do Veículo
				</dt>

				<dd>
					<%=tv.brand%>
				</dd>

				<dt>
					Ano de fabricação
				</dt>

				<dd>
					<%=tv.year_manufacture%>
				</dd>

				<dt>
					Placa de identificação
				</dt>

				<dd>
					<%=tv.identification_plate%>
				</dd>


				<dt>
					Capacidade máxima
				</dt>

				<dd>
					<%=tv.payload%> Kg
				</dd>

				<dt>
					Dimensão
				</dt>

				<dd>
					<%=tv.dimension%> m³
				</dd>
			</dl>
		</div>
		<br>
	<%end%>
<%else%>
	<p>Sem veículos registrados</p>
<%end%>

<%= link_to "Voltar para a página da transportadora", shipping_company_path(@endereco.id)%>