<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1 id="titulo"><%= link_to "Stay Night", root_path%></h1>
        <nav>
          <%if admin_signed_in?%>
            <%= link_to "Pedidos", orders_path%> |
          <%end%>
          <%= link_to "Rastrear um pedido"%> |
          <%if user_signed_in? || admin_signed_in?%>
            <%if user_signed_in?%>
              <%=current_user.name%> |
              <%= current_user.email%> |
              <%= button_to "Sair", destroy_user_session_path, method: :delete%>
            <% else%>
              <%=current_admin.name%> |
              <%= current_admin.email%> |
              <%= button_to "Sair", destroy_admin_session_path, method: :delete%>
            <%end%>
          <%else%>
            <%= link_to "Entrar como Administrador", new_admin_session_path%> |
            <%= link_to "Entrar como colaborador de uma Transportadora", new_user_session_path %> |
          <%end%>
        </nav>
    </header>
    <div>
      <br>
      <%= alert%>
      <%= notice%>
    </div>
    <%= yield %>
  </body>
</html>
